
        <content>
          <div class="row">
                <div class="col-lg-4 pull-right search-margin">
                  <div class="input-group">
                    <input type="text" class="form-control search-width" placeholder="Search for Animal" autofocus ng-model="query">
                    <span class="input-group-btn">

                    </span>
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </content>
