<section >
  <article>

      <ul ng-controller="GalleryCtrl" id="photos">
        <li ng-repeat="image in images | filter:query">
          <a ng-click="openLightboxModal($index)">
            <img ng-src="/images/{{image}}" class="img-thumbnail">
          </a>
          <% if (user) { %>
            <a class="deletion-link" ng-click="delete(image, $index)">Delete</a>
          <% } %>
        </li>
      </ul>

  </article>
</section>
