<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <% include partials/loginhead %>
</head>
<body class="container">

    <main>
      <section class="row">
<h4>Upload Things On This Page</h4>
<form action="/file-upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image">
  <input type="submit">
</form>
<a href="/logout">Logout</a>
<footer>

	<% include partials/footer %>
</footer>
</main>



</body>
</html>
