<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <% include partials/loginhead %>
</head>
<body class="container">

    <main>
      <section class="row">
<h4>Upload Things On This Page</h4>
<form action="/file-upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image">
  <input type="submit">
</form>
<a href="/logout">Logout</a><br>
<section>
  <article>
        <h3>Images To Delete</h3>
      <ul ng-controller="GalleryCtrl" id="photos">
                <li ng-repeat="image in images">
            <img ng-src="/images/{{image}}" style="width:30%;">
            <a class="deletion-link" ng-click="delete(image, $index)">Delete</a>
        </li>
      </ul>

  </article>
</section>
<footer>

	<% include partials/footer %>
</footer>
</main>



</body>
</html>
